@keyframes SlideR{

  from{
    transform:translateX(-120vw);
  }
  to{  transform:translateX(20px)};
}
@keyframes SlideL{
  from{
       transform: translateX(1000px);
      }
    to{
        transform: translateX(0);
      }
}
@keyframes fadeIn{

  from { opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeOut{
  from { opacity: 1;}
  to {opacity: 0;}
}

.background {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 98vh;           
    width: 100%; 
    background-image: url("./assets/images/background.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   

    
}
.FontLogin{
  width: 100%;

  opacity: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  
  color: white;

}

.LoginSquare{
  background-color: #721D08;
  width: 503px;
  height: 503px;
  padding: 40px;

  margin-top: 10px;
  
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  
  text-align: center; 
  animation: fadeIn 1.5s forwards;
 
  display: flex;
  flex-direction: column;
  gap: 15px;

  align-items: center;
}
.LoginSquare input {
  width: 400px;
  padding: 15px 40px 15px 70px;
  color: white;
  
  font-size: 20px;

  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); 

  background-repeat: no-repeat, no-repeat;
  background-color: transparent;
  background-position: 10px center, center bottom; 

  transition: background-size 0.5s ease;
}

.LoginSquare input[type="text"] {
 
  background-image: url("./assets/images/emailimage.png"), linear-gradient(white, white);
  
  background-size: 44px 29.33px, 0% 2px;
}
.LoginSquare input[type="text"]:hover {
  background-size: 44px 29.33px, 100% 2px;
  outline: none; 
}
.LoginSquare input[type="password"] {
  background-image: url("./assets/images/passwordimage.png"), linear-gradient(white, white);
  background-size: 35px 44px, 0% 2px;
}
.LoginSquare input[type="password"]:hover {
  background-size: 35px 44px, 100% 2px;
  outline: none;
}

.LoginSquare button {
  width: 344px; 

  margin-top: 30px;

  padding: 20px ;  

  background-color: rgba(0, 156, 65, 1);

  border-radius: 5px;  
  border: none;

  font-weight: bold;
  font-size: 18px; 
  color: white;
  align-self: center;

}
.Logo{
  width: 50px;  
  height: 50px; 
  background-image: url("./assets/images/logo.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;

}
.logo-container{

  display: flex;       
  align-items: center; 
  gap: 15px;          
}
.logo-text{
  font-size: 26px;
  font-weight: bold;
  color: white; 
  font-family: 'Montserrat', sans-serif; 
}
.header-buttons-container{
    display: flex;       
    align-items: center; 
    gap: 10px;    
}
.header-buttons button{

    background-color: transparent;
    border: none;
    color: white;
    
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px; 
    font-weight: bold;
    cursor: pointer;
    
    padding: 10px 15px; 

}
.RegisterSquare{

  background-color: #721D08;
  width: 503px;
  height: 503px;
  padding: 40px;

  margin-top: 10px;

  
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  
  text-align: center; 
  animation: fadeIn 1.5s forwards;
 
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-family: 'Montserrat',sans-serif;
  color: white;
  align-items: center;
}
.RegisterSquare input{
width: 400px;
padding: 15px 40px 15px 70px;
color: white;
  
font-size: 20px;

border: none;
border-bottom: 1px solid rgba(255, 255, 255, 0.3); 

background-repeat: no-repeat, no-repeat;
background-color: transparent;
background-position: 10px center, center bottom; 

transition: background-size 0.5s ease;
}
.RegisterSquare input[type="text"]{
  background-image: url("./assets/images/person.png"), linear-gradient(white, white);
  background-size: 30px 34px, 0% 2px;

}
.RegisterSquare input[type="text"]:hover {
  background-size: 30px 34px, 100% 2px;
  outline: none;
}
.RegisterSquare input[type="tel"]{
  background-image: url("./assets/images/phone.png"), linear-gradient(white, white);
  background-size: 30px 35px, 0% 2px; 
  outline: none;

}
.RegisterSquare input[type="tel"]:hover {
  background-size: 30px 35px, 100% 2px;
  outline: none;
}
.RegisterSquare button {
  align-self: center; 
  width: 344px; 
  margin-top: 20px;
  padding: 15px;
  background-color: #009c41; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.RegisterSquare input[type="email"] {
  background-image: url("./assets/images/emailimage.png"), linear-gradient(white, white);
  
  background-size: 35px 30px, 0% 2px;

}
.RegisterSquare input[type="email"]:hover {
  background-size: 35px 30px, 100% 2px;
  outline: none;
}
.RegisterSquare input[type="password"]{
  background-image: url("./assets/images/passwordimage.png"), linear-gradient(white, white);
  background-size: 35px 44px, 0% 2px;
}
.RegisterSquare input[type="password"]:hover {
  background-size: 35px 44px, 100% 2px;
  outline: none;
}
form {
  display: flex;           
  flex-direction: column; 
  gap: 15px;               
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid #000000;
  overflow: hidden;
  margin: 0 auto 20px;
  animation: fadeIn 1.5s forwards;
}

.ProfileSquare {
 background-color: #721D08;
  width: 503px;
  height: 503px;
  padding: 40px;

  margin-top: 10px;
  
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  
  text-align: center; 
  animation: fadeIn 1.5s forwards;
 
  display: flex;
  flex-direction: column;
  gap: 15px;

  align-items: center;
}
.ProfileSquare button{

  width: 344px; 

  margin-top: 30px;

  padding: 20px ;  

  background-color: rgba(0, 156, 65, 1);

  border-radius: 5px;  
  border: none;

  font-weight: bold;
  font-size: 18px; 
  color: white;
  align-self: center;

}
.ProfileSquare input{

  width: 400px;
  padding: 15px 40px 15px 70px;
  color: white;
    
  font-size: 20px;

  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); 

  background-repeat: no-repeat, no-repeat;
  background-color: transparent;
  background-position: 10px center, center bottom; 

  transition: background-size 0.5s ease;

}
.home-button {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
}
.home-button:hover {
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}
.footer-bar {
  position: fixed;
  bottom: 20px;           

  left: 50%;               
  transform: translateX(-50%); 
  
  width: 95%;             
  max-width: 1200px;       
  
  height: 60px;
  background-color: #212529; 
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
 
  border-radius: 15px;    
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}
.header-bar {
  position: fixed; 
  top: 20px;
  left: 50%;
  transform: translateX(-50%); 
  
  width: 95%;
  max-width: 1200px;
  height: 75px;
  
  background-color: #721D08;
  color: white;
  
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px; 
  padding: 0 40px;
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.posts-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  
  animation: fadeIn 1.5s forwards;

}
.homepage-content{
  padding-top: 100px;
}
.page-content {
  min-height: 80vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}