@keyframes SlideR{

  from{
    transform:translateX(-120vw);
  }
  to{  transform:translateX(20px)};
}
@keyframes SlideL{
  from{
       transform: translateX(1000px);
      }
    to{
        transform: translateX(0);
      }
}
@keyframes fadeIn{

  from { opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeOut{
  from { opacity: 1;}
  to {opacity: 0;}
}

.background
{
  background-color: #b1a7a6;
  display: flex;             
  justify-content: center;    
  align-items: center;       
  height: 100vh;               
  margin: 0;

}
.LoginSquare{
background-color: white;
  width: 350px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  
  text-align: center; 
  animation: fadeIn 1.5s forwards;
 
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.RegisterSquare{

  background-color: white;
    width: 350px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    
    text-align: center; 
    animation: fadeIn 1.5s forwards;
   
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
  display: flex;           
  flex-direction: column; 
  gap: 15px;               
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
button:hover{
  background-color: #218838;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid #000000;
  overflow: hidden;
  margin: 0 auto 20px;
  animation: fadeIn 1.5s forwards;
}

.profile-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
   animation: fadeIn 1.5s forwards;
}
.home-button {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
}
.home-button:hover {
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}
.footer-bar {
  position: fixed;
  bottom: 20px;           

  left: 50%;               
  transform: translateX(-50%); 
  
  width: 95%;             
  max-width: 1200px;       
  
  height: 60px;
  background-color: #212529; 
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
 
  border-radius: 15px;    
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}
.header-bar {
  position: fixed; 
  top: 20px;
  left: 50%;
  transform: translateX(-50%); 
  
  width: 95%;
  max-width: 1200px;
  height: 60px;
  
  background-color: #212529;
  color: white;
  
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px; 
  
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.posts-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  
  animation: fadeIn 1.5s forwards;

}
.homepage-content{
  padding-top: 100px;
}
.page-content {
  min-height: 80vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}