@keyframes SlideR{

  from{
    transform:translateX(-120vw);
  }
  to{  transform:translateX(20px)};
}
@keyframes SlideL{
  from{
       transform: translateX(1000px);
      }
    to{
        transform: translateX(0);
      }
}
@keyframes fadeIn{

  from { opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeOut{
  from { opacity: 1;}
  to {opacity: 0;}
}


.background
{
  background-color: #b1a7a6;
  display: flex;             
  justify-content: center;    
  align-items: center;       
  height: 100vh;               
  margin: 0;

}
.LoginSquare{
background-color: white;
  width: 350px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  
 
  text-align: center; 
  animation: fadeIn 1.5s forwards;
 
  display: flex;
  flex-direction: column;
  gap: 15px;

}

form {
  display: flex;           
  flex-direction: column; 
  gap: 15px;               
}


input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}
button:hover{
  background-color: #218838;
}
